@import '../helpers/index.styl';

.destacado_view {
    .container {
        padding: 0;
    }

    .item-data {
        padding: 150px 0;
        h2 {
            font-weight: 700;
            font-size: remify(33px);
            letter-spacing: remify(-1.1px);
            line-height: remify(33px);
        }
        p {
            margin: 20px 0;
            font-size: remify(19px);
            color: #3a3a3a;
        }
        .btn {
            btn-pedir();
        }
    }

    .img-destacado {
        img {
            display: block;
            width: 100%;
        }
    }
}

.items_data_view {
   .container {
        padding: 0;
    }

    .sushi-item {
        header {
            width: 100%;
            box-sizing: border-box;
        }

        h3 {
            vertical-align: top;
            margin-top: 10px;
            display: inline-block;
            font-size: remify(28px);
            font-weight: 400;
            width: 60%;
        }

        .img {
            display: inline-block;
            width: 40%;
            box-sizing: border-box;
            padding-right: 10px;
            img {
                display: block;
                width: 100%;
            }
        }

        p {
            width: 70%;
            margin: 20px 0;
            font-size: remify(19px);
            color: #3a3a3a;
        }

        .btn {
            btn-pedir(18px);
        }

    }
}

















