{% include ('../../templates/home/twitter_news.html') %}

<div class="destacado_view">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="item-data">
                    <h2>El mejor sushi que puedas probar</h2>
                    <p>
                        Disfrutá del sabor, que sólo
                        la mejor calidad te puede brindar.
                    </p>
                    <a class="btn" href="#">Pedilo Yá!</a>
                </div>
            </div>

            <div class="col-md-9 img-destacado">
                <img src="../images/destacado.jpg" alt="Destacado">
            </div>
        </div>    
    </div>    
</div>

<div class="items_data_view">
    <div class="container">
        <div class="row">
            <div class="sushi-item">
                <div class="col-md-4">
                    <header>
                        <h3>Langostinos Panko</h3><!--
                        --><span class="img">
                            <img src="images/panko.jpg" alt="Sushi">
                        </span>
                    </header>
                    <p>Langostinos rebozados con panko y salsa teriyaki</p>
                    <a href="#" class="btn">Pedilo Yá!</a>
                </div>
            </div>
            <div class="sushi-item">
                <div class="col-md-4">
                    <header>
                        <h3>Sorprendete con el Ceviche</h3><!--
                        --><span class="img">
                            <img src="images/panko.jpg" alt="Sushi">
                        </span>
                    </header>
                    <p>Langostinos rebozados con panko y salsa teriyaki</p>
                    <a href="#" class="btn">Pedilo Yá!</a>
                </div>
            </div>
            <div class="sushi-item">
                <div class="col-md-4">
                    <header>
                        <h3>Hot Rolls<br> Panko</h3><!--
                        --><span class="img">
                            <img src="images/panko.jpg" alt="Sushi">
                        </span>
                    </header>
                    <p>Langostinos rebozados con panko y salsa teriyaki</p>
                    <a href="#" class="btn">Pedilo Yá!</a>
                </div>
            </div>                        
        </div>
    </div>
</div>