<div class="container">
    <div class="row twitter_news_view">
        <div class="col-md-12">
            <p class="noticias icons icon-twitter">
                Noticias en VIVO:
            </p>
            <ul class="list-twits">
                <li>[ A time when there’s a clear digital skills gap, it’s no wonder startups find ]</li>
                <li>[ A time when there’s a clear digital skills gap, it’s no wonder startups find ]</li>
                <li>[ A time when there’s a clear digital skills gap, it’s no wonder startups find ]</li>
                <li>[ A time when there’s a clear digital skills gap, it’s no wonder startups find ]</li>
            </ul>
        </div>
    </div>
</div>