<div class="row">
    <div class="col-md-6">
        <h1 class="logo"><a href="#/">ohmi</a></h1>
        <nav>
            <ul class="menu">
                <li><a class="menu" href="#/menu">Menu</a></li><!--
                --><li><a class="delivery" href="#/delivery">Delivery</a></li><!--
                --><li><a class="eventos" href="#/eventos">Eventos</a></li><!--
                --><li><a class="contacto" href="#/contacto">Contacto</a></li>
            </ul>
        </nav>
    </div>
    <div class="col-md-6">
        <div class="phones icons icon-phone">
            <p>Villa luro <span>3969-2558</span></p>
            <p>Flores <span class="white-space">4631-2102</span></p>
        </div>
        <div class="checkout fake-select icons icon-arrow-down-big">
            <span class="price icons icon-cart">$ 45,35</span>
            <span class="check">checkout</span>
        </div> 
    </div>
</div>