@font-face {
    font-family: 'ohmi';
    src: url(../../fonts/ohmi.eot);
    src: url(../../fonts/ohmi.eot?#iefix) format('embedded-opentype'),
         url(../../fonts/ohmi.woff) format('woff'),
         url(../../fonts/ohmi.ttf) format('truetype'),
         url(../../fonts/ohmi.svg#ohmiregular) format('svg');
    font-style: normal;
    font-weight: normal;
}

.icons::before {
    display: inline-block;
    font-family: 'ohmi';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    vertical-align: middle;
}

.icon-phone::before {
    content: "\e600";
}
.icon-phone-small::before {
    content: "\e601";
}
.icon-mobile::before {
    content: "\e602";
}
.icon-location::before {
    content: "\e603";
}
.icon-search::before {
    content: "\e604";
}
.icon-cart::before {
    content: "\e605";
}
.icon-arrow-left::before {
    content: "\e606";
}
.icon-arrow-down::before {
    content: "\e607";
}
.icon-arrow-up::before {
    content: "\e608";
}
.icon-arrow-right::before {
    content: "\e609";
}
.icon-arrow-left-big::before {
    content: "\e60a";
}
.icon-arrow-down-big::before {
    content: "\e60b";
}
.icon-arrow-up-big::before {
    content: "\e60c";
}
.icon-arrow-right-big::before {
    content: "\e60d";
}
.icon-twitter::before {
    content: "\e60e";
}
.icon-facebook::before {
    content: "\e60f";
}