$black = #000;
$white = #fff;
$blueFacebook = #3b5998;
$cyanTwitter = #3cf;
$redGooglePlus = #dd4b39;
$greyBorders = #efefef;
$greyLight = #858586;
$greyStrong = #252525;
$red = #ff0000;
$green = #ab0;
$blue = #0076be;
$orange = #f70;
$violet = #628;
$yellow = #fe7;
$yellowDarker = #cc3;

$baseFont = 16px;
$xs = remify(12px);
$s = remify(14px);
$m = remify(16px);
$l = remify(20px);
$xl = remify(26px);
$xxl = remify(32px);