<dir class="row">
    <div class="col-md-12">
        <ul class="social">
            <li><a href="#" class="fb icons icon-facebook"></a></li>
            <li><a href="#" class="tw icons icon-twitter"></a></li>
        </ul>
        <ul class="menu">
            <li><a href="#/menu">Menu</a></li>
            <li><a href="#/delivery">Delivery</a></li>
            <li><a href="#/eventos">Eventos</a></li>
            <li><a href="#/contacto">Contacto</a></li>
        </ul>
        <p class="copy">ohmi sushi&reg; 2014</p>
    </div>
</dir>

